<div *ngIf="!showCardTask" class="macolonne">

  <div class="title-container d-flex align-items-center"
    *ngIf="!showListingForm">
    <h2 class="flex-grow-1">{{ title }}</h2>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button"
        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item text-primary" (click)="editListing()"><i class="fa-regular fa-pen-to-square"></i>  Modifier</a></li>
        <li><a class="dropdown-item text-danger"
          (click)="deleteListing(this.listing.id)"><i class="fa-solid fa-trash"></i>  Supprimer</a></li>
        <li><a class="dropdown-item text-success" (click)="createTask()"><i class="fa-regular fa-plus"></i>  Nouvelle
          tâche</a></li>
      </ul>
    </div>
  </div>

  <app-listing-form
    *ngIf="showListingForm"
    [listingId]="listing.id"
    [projectId]="projectId"
    >
  </app-listing-form>

  <app-task-board
    [tasks]="this.listing.tasks"
    [connectedTo]="connectedTo"
    [showCardTask]="showCardTask"
    [showTaskForm]="showTaskForm"
    >
  </app-task-board>

  <app-create-task
    *ngIf="showTaskCreate"
    [listingId]="listing.id"
    [showTaskCreate]="showTaskCreate"
    [projectId]="projectId">
  </app-create-task>

</div>
<div *ngIf="showCardTask">
  <app-task></app-task>
</div>
