<h2>{{ title }}</h2>
<div
  class="tasks"
  cdkDropList [cdkDropListData]="tasks"
  (cdkDropListDropped)="drop($event, listingId)"
  [cdkDropListConnectedTo]="connectedTo">
  <div *ngFor="let task of tasks" cdkDrag>
    <div class="task" [style.background-color]="task.tag">
      {{ task.name }}
      <button (click)="toggleDropdown(task)">...</button>
      <div *ngIf="task.showDropdown" class="dropdown">
        <button (click)="editTask(task)">Éditer</button>
        <button (click)="deleteTask(task.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
<app-task-form
  *ngIf="editingTask"
  [task]="editingTask"
  (taskUpdated)="updateTask($event)"
  (cancelEdit)="cancelEdit()">
</app-task-form>
