 <!-- Bouton pour ouvrir la modal de création -->
 <button type="button" class="btn btn-primary mt-3" (click)="openCreateListingModal()">Créer une nouvelle liste</button>
<div class="board">
  <!-- Affichage des colonnes existantes -->
  <app-column-board *ngFor="let listing of listings" [title]="listing.name" [tasks]="listing.tasks" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="listing.name"></app-column-board>
</div>

<!-- Modal de création de colonne -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': isCreateListingModalOpen}" (keyup.esc)="closeCreateListingModal()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer une nouvelle colonne</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeCreateListingModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulaire de création de colonne -->
        <form (ngSubmit)="createListing()">
          <div class="form-group">
            <label for="columnName">Nom de la liste</label>
            <input type="text" class="form-control" id="columnName" name="columnName" [(ngModel)]="newListingName" required>
          </div>
          <button type="submit" class="btn btn-primary">Créer</button>
        </form>
      </div>
    </div>
  </div>
</div>

