.board {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 50px auto;
}

.title-button {
  display: block;
  a {
    text-decoration: none;
  }
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {

  background-color: rgb(246, 246, 246);
  width: 75vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

}