<div
*ngIf="!showTaskForm"
  class="tasks"
  cdkDropList
  [cdkDropListData]="tasks"
  (cdkDropListDropped)="drop($event, listingId)"
  [cdkDropListConnectedTo]="connectedTo">



  <!--<app-create-task [listingId]="listingId"></app-create-task> -->

  <div *ngFor="let task of tasks" cdkDrag class="title-container d-flex align-items-center">
    <div class="task" [style.background-color]="task.tag">
    <div class="flex-grow-1">{{task.name}}
    <div class="dropdown">
      <button class="btn btn-secondary-outline dropdown-toggle" type="button"
        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        ...
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="task.id !== undefined">
        <li><a class="dropdown-item" (click)="editTask(task)">Éditer <i class="fa-regular fa-pen-to-square"></i></a></li>
        <li><a class="dropdown-item"
            (click)="deleteTask(task.id)">Supprimer <i class="fa-solid fa-trash"></i></a></li>
        <li><a class="dropdown-item" [routerLink]="['/Task', task.id]" routerLinkActive="router-link-active">Voir la tâche <i class="fa-regular fa-eye"></i></a></li>
      </ul>
    </div>
    </div>
      </div>
    </div>
  </div>

<app-task-form
  *ngIf="editingTask"
  [task]="editingTask"
  (taskUpdated)="updateTask($event)"
  (cancelEdit)="cancelEdit()">
</app-task-form>
