<div class="comment">

        <label for="comment">Votre commentaire :</label>
        <div *ngIf="!isEditing">
                <h4>{{tasktocomment.Id}}</h4>
                <textarea class="form-control" rows="5" id="comment" name="text">{{tasktocomment.Content}}</textarea>
                <h3>{{tasktocomment.User}}</h3>     
                <button (click)="editComment()">Edit</button>
        </div>
        
        <div *ngIf="isEditing">
          <input [(ngModel)]="tasktocomment.content" placeholder="Commentaire Content">
          <input [(ngModel)]="tasktocomment.user" placeholder="Commentaire User">
          <button (click)="saveComment()">Save</button>
        </div>
        </div>
        
        
         <!--<button (click)="output(tasktocomment)">Enregistrer</button>  -->
        
        <!-- <button (click)="output(tasktocomment)">Enregistrer</button>
         <h2>{{ title }}</h2>
          <div class="tasks" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="connectedTo">
            <div *ngFor="let task of tasks" cdkDrag>
              <app-task-board [task]="task"></app-task-board>
            </div>
          </div>
           <input type="color">
          -->