/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// @import "node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
    font-family: 'Poppins', sans-serif;
  }
.container {
  width: 80%;
  margin: 50px auto;
}
html, body { height: 100%; }
body { margin: 0; }

.dialog-centered .mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: none;
  top: 0;
  left: 0;
  margin: 0;
}
