<nav>
    <form (ngSubmit)="toCreateProject()">
    Nom du nouveau projet :
    <input type="text" name="newProjectName" [(ngModel)]="newProjectName" required>
    <button class="btn btn-primary" type="submit">Valider</button>
    </form>
    <div *ngFor="let project of this.projects" class="project-item">
        <div (click)="getid(project.id)">{{project.name}}
            <button class="btn btn-primary"><span class="fas fa-bars"></span></button>
            <button class="btn btn-danger" (click)="deleteProject(project.id)">Supprimer</button>
        </div>
    </div>
</nav>