.nav-container{
    margin: 5px;
}

.project-name{
  display: flex;
}

.project-menu{
  display: flex;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

